{%extends 'base.html'%}

{%block title%} About {% endblock %}

{% block content %}
  <center>
    <h1>
        Weather Project
    </h1>
    <h2> Project Instructions</h2>
    <body>
    <p> ● collect weather information (temp, pressure, wind) from the <br>
    METAR service for a variety of airports (python container, you <br>
    can use the python code from the exercise) </p>
    
    <p> ● store this information in a persistent database (database <br>
    container) </p>
    <p> ● from a Web frontend, the user can select one of the airports and <br>
    the stored results will be presented </p>

    <p>● You should use (at least) three containers: the “collector”, the <br>
        database, the frontend </p>
    ● frontend TLS secured <br>
    </body>
</center> 
{% endblock %}