{%extends 'base.html'%}
{% load static %}

{% block title%}Airport Metar Data Scrapper Project{% endblock%}

{% block content %}
<!-- <img class="masthead-avatar mb-5" src="{% static 'theme/assets/img/avataaars.svg' %}" alt="..." /> -->

<head>
    <title> Airport Metar Data Scrapper Project</title>
</head>
<!-- <body style="background-color:rgb(47, 92, 218);"></body> -->
<style>
h1 {
  font-weight: bold;
  color: #fff;
  font-size: 64px;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 64px;
}
span {
    background-color: rgb(242, 242, 247);
  }
</style>

<link rel="stylesheet" href="{% static 'theme/css/styles.css' %}">

<body style="background-image: url('{% static 'theme/assets/img/uni.jpg' %}'); background-repeat: no-repeat; background-size: 100%">

    <center>
    <header>
        <h1></h1>
        <h1></h1>
    </header>
    <header>
        <h1 style="color: white;"><font size="36"> Airport Data</font></h1>
        <h2 style="font-family: Arial, Helvetica, sans-serif; color: #000;"> <font size="64"> <span>Welcome to our airport data dollector.</span>  <br> <span>You can Search for most airport weather data </span> <br> <span>using our search button </span> </font></h2> 
    </header>
    </center>
</body>

{% endblock %}